{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ entry }}{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-yellow" value="Save">
            <i class="bi bi-journal-check"></i> Save
        </button>
        <button type="submit" class="btn btn-outline-yellow" onclick="window.location='{% url 'todo:todo-detail' entry.todo.id %}'; return false;">
            <i class="bi bi-journals"></i> Back
        </button>
    </form>
{% endblock %}