{% extends 'base.html' %}

{% block title %}{{ todo }}{% endblock %}

{% block content %}
    <h2>
        {{ todo }}
        {% if user == todo.owner %}
            (<a href="{% url 'todo:todo-edit' todo.id %}">Edit</a>
            |
            <a href="{% url 'todo:todo-delete' todo.id %}">Delete</a>)
        {% endif %}
    </h2>
    <ul>
        {% for entry in todo.entries.all %}
            <li>
                {% if entry.completed %}<strike>{{ entry }}</strike>{% else %}{{ entry }}{% endif %}
                {% if user == todo.owner %}
                    (<a href="{% url 'todo:entry-edit' entry.id %}">Edit</a>
                    |
                    <a href="{% url 'todo:entry-delete' entry.id %}">Delete</a>)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user == todo.owner %}
        <p>
            <form method="POST" action="{% url 'todo:entry-create' todo.id %}">
                {% csrf_token %}
                {{ entry_form.as_table }}
                <input type="submit" value="Add">
            </form>
        </p>
    {% endif %}
    <p><a href="{% url 'todo:todo-list' %}">Back</a></p>
{% endblock %}