{% extends 'base.html' %}

{% block title %}Delete To-Do List{% endblock %}

{% block content %}
    <h3>Delete {{ todo }}?</h3>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-yellow" value="Save">
            <i class="bi bi-journal-x"></i> Delete
        </button>
        <button type="submit" class="btn btn-outline-yellow" onclick="window.location='{% url 'todo:todo-detail' todo.id %}'; return false;">
            <i class="bi bi-journals"></i> Back
        </button>
    </form>
{% endblock %}