{% extends 'base.html' %}
{% load todo_tags %}

{% block title %}To-Do Lists{% endblock %}

{% block content %}
    <h2>To-Do Lists</h2>
    <p>{% toggle_list request.path %}</p>
    <ul class="list-group bg-dark">
    {% for todo in todo_list %}
        <li class="list-group-item">
            {% if user == todo.owner %}
                [<strong>me</strong>]
            {% else %}
                [<a href="{% url 'todo:profile' todo.owner.username %}">{{ todo.owner }}</a>]
            {% endif %}
            <a href="{% url 'todo:todo-detail' todo.id %}">{{ todo }}</a>
        </li>
    {% endfor %}
    </ul>
    <br>
    <button class="btn btn-outline-yellow" onclick="window.location='{% url 'todo:todo-create' %}'"><i class="bi bi-journal-plus"></i> Add To-Do List</button>
{% endblock %}