{% extends 'base.html' %}
{% load todo_tags %}
{% load crispy_forms_tags %}

{% block title %}{% if todo %}{{ todo }}{% else %}Create To-Do List{% endif %}{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-yellow">
            <i class="bi bi-journal-check"></i> Save
        </button>
        <button type="submit" class="btn btn-outline-yellow" onclick="window.location='{% get_back_url todo %}'; return false;">
            <i class="bi bi-journals"></i> Back
        </button>
    </form>
{% endblock %}